.pagination_pages_wrapper {
    display: flex;
    flex-direction: row;
}
.pagination_wrapper {
    --pagination-position: flex-end;
    display: flex;
    justify-content: var(--pagination-position);
    flex-direction: row;
}
.disabled {
    cursor: not-allowed;
}